<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Create Post</title>
</head>

<body>




<h3>Create a post</h3>

<form action="#" th:action="@{/user/create}" th:object="${post}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Title: </p> <input type="text" th:field="*{title}"/>
    <p>Body: </p> <input type="text" th:field="*{body}"/>
    <p>Author: </p> <input type="text" th:field="*{author}"/>
    <p>Date: </p> <input type="date" th:field="*{Date}"/>


    <p/><input type="submit" value="Create" />

</form>

<div th:if="${message!=null}">
    <p/>
    <span th:text="${message}"/>
</div>



</body>

</html>