<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Create Post</title>
    <link href="../public/css/bootstrap.min.css" />
</head>

<body>

<header th:replace="layout :: site-header" />

<!-- Create new post page -->
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Create New Post</div>
                <div class="panel-body">
                    <form class="form-horizontal" action="#" th:action="@{/user/create}" th:object="${post}" method="post">
                        <input type="hidden" th:field="*{id}"/>

                        <!-- Post Title input field -->
                        <div class="form-group">
                            <label th:for="title" class="col-md-4 control-label">Title</label>
                            <div class="col-md-6">
                                <input class="form-control" type="text" th:field="*{title}"/>
                            </div>
                        </div>

                        <!-- Post Body input field -->
                        <div class="form-group">
                            <label th:for="body" class="col-md-4 control-label">Post Body</label>
                            <div class="col-md-8">
                                <textarea class="form-control"  type="text" th:field="*{body}"/>
                            </div>
                        </div>

                        <!-- Author input field -->
                        <div class="form-group">
                            <label th:for="author" class="col-md-4 control-label">Author ID</label>
                            <div class="col-md-6">
                                <input class="form-control" type="text" th:field="*{author}"/>
                            </div>
                        </div>

                        <!-- Date input field -->
                        <div class="form-group">
                            <label th:for="date" class="col-md-4 control-label">Date (DD-MMM-YYYY)</label>
                            <div class="col-md-6">
                                <input class="form-control" type="datetime" th:field="*{date}"/>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <input class="btn btn-primary" type="submit" value="Create" />
                            </div>
                        </div>
                    </form>
                    <div th:if="${message!=null}">
                        <p/>
                        <span th:text="${message}"/>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>

<footer th:replace="layout :: site-footer" />

</body>

</html>