<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Login</title>
    <link href="../public/css/bootstrap.min.css" />
    <script src="https://apis.google.com/js/platform.js" />
    <meta name="google-signin-client_id" content="838240145598-uf9b7ia9qbjfb4m739jsgg7qhh0s678f.apps.googleusercontent.com" />
    <meta name="google-signin-scope" content="profile email" />
</head>

<body>

<header th:replace="layout :: site-header" />

<!-- User Login Page -->
<div class="container">
    <h2>Please Login to Create Posts</h2>
    <p/>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login Form</div>
                <div class="panel-body">
                    <form class="form-horizontal" action="#" th:action="@{/user/login}" th:object="${user}" method="post">

                        <!-- Username input field-->
                        <div class="form-group">
                            <label th:for="username" class="col-md-4 control-label">Username</label>
                            <div class="col-md-6">
                                <input class="form-control" type="text" th:field="*{username}" />
                            </div>
                        </div>

                        <!-- Password input field -->
                        <div class="form-group">
                            <label th:for="password" class="col-md-4 control-label">Password</label>
                            <div class="col-md-6">
                                <input class="form-control" type="password" th:field="*{password}"/>
                                <span class="formError"
                                      th:if="${#fields.hasErrors('password')}"
                                      th:errors="*{password}">Invalid password</span>
                            </div>
                        </div>

                        <!-- Login Button -->
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <input class="btn btn-primary" type="submit" value="Login" />
                            </div>
                        </div>

                        <!-- Google Login -->
                        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                        <script>
                            function onSignIn(googleUser) {
                                // Useful data for your client-side scripts:
                                var profile = googleUser.getBasicProfile();
                                console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                                console.log('Full Name: ' + profile.getName());
                                console.log('Given Name: ' + profile.getGivenName());
                                console.log('Family Name: ' + profile.getFamilyName());
                                console.log("Image URL: " + profile.getImageUrl());
                                console.log("Email: " + profile.getEmail());
                                // The ID token you need to pass to your backend:
                                var id_token = googleUser.getAuthResponse().id_token;
                                console.log("ID Token: " + id_token);
                            }
                        </script>

                        <a href="#" onclick="signOut();">Sign out</a>
                        <script>
                            function signOut() {
                                var auth2 = gapi.auth2.getAuthInstance();
                                auth2.signOut().then(function () {
                                    console.log('User signed out.');
                                });
                            }
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout :: site-footer" />

</body>

</html>

