<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Posts</title>
</head>

<body>
<header th:replace="layout :: site-header" />

<table border="1px">
    <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Author ID</th>
        <th>Date</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${post.title}">Alex</td>
        <td th:text="${post.body}">Parkinson</td>
        <td th:text="${post.author}">alex</td>
        <td th:text="${post.date}">17-jan02017</td>
        <td><a href="#" th:href="@{/user/update/}+${post.id}">Update</a> </td>
        <td><a href="#" th:href="@{/user/delete/}+${post.id}">Delete</a> </td>

    </tr>

</table>



<div>
    <ol>
        <li th:each="post : ${posts}">
            <span th:text="${post.title}+' '+${post.body}+', '+${post.author}+', '+${post.date}"></span>
            <td><a href="#" th:href="@{/user/update/}+${post.id}">Update</a> </td>
            <td><a href="#" th:href="@{/user/delete/}+${post.id}">delete</a> </td>
        </li>
    </ol>
</div>


<footer th:replace="layout :: site-footer" />
</body>

</html>