<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Create Post</title>
</head>

<body>
<header th:replace="layout :: site-header" />




<h3>Edit a Post</h3>

<form action="#" th:action="@{/user/update}" th:object="${post}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Title: </p> <input type="text" th:field="*{title}"/>
    <p>Body: </p> <input type="text" th:field="*{body}"/>
    <p>Author ID: </p> <input type="text" th:field="*{author}"/>
    <p>Date (DD-MM-YYYY: </p> <input type="text" th:field="*{date}"/>


    <p/><input type="submit" value="Update" />

</form>

<div th:if="${message!=null}">
    <p/>
    <span th:text="${message}"/>
</div>


<footer th:replace="layout :: site-footer" />

</body>

</html>