<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <link href="../public/css/bootstrap.min.css" />
    <title>Create Post</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<!-- Post Update/Edit Form -->
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Update Post</div>
                <div class="panel-body">

                    <form class="form-horizontal" action="#" th:action="@{/user/update}" th:object="${post}" method="post">
                        <input type="hidden" th:field="*{id}"/>

                        <!-- Input field for post Title -->
                        <div class="form-group">
                            <label th:for="title" class="col-md-4 control-label">Title</label>
                            <div class="col-md-6">
                                <input class="form-control" type="text" th:field="*{title}"/>
                            </div>
                        </div>

                        <!-- Input field for Post Body -->
                        <div class="form-group">
                            <label th:for="body" class="col-md-4 control-label">Body</label>
                            <div class="col-md-8">
                                <textarea class="form-control" type="text" th:field="*{body}"/>
                            </div>
                        </div>

                        <!-- Input field for Author -->
                        <div class="form-group">
                            <label th:for="author" class="col-md-4 control-label">Author ID</label>
                            <div class="col-md-6">
                                <input class="form-control" type="text" th:field="*{author}"/>
                            </div>
                        </div>

                        <!-- Input field for Date -->
                        <div class="form-group">
                            <label th:for="date" class="col-md-4 control-label">Date (DD-MMM-YYYY)</label>
                            <div class="col-md-6">
                                <input class="form-control" type="datetime" th:field="*{date}"/>
                            </div>
                        </div>

                        <!-- Update and Cancel buttons -->
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <input class="btn btn-primary" type="submit" value="Update" />
                                <a class="btn btn-danger" href="posts/index.html" th:href="@{/user/postedit}">Cancel</a>
                            </div>
                        </div>
                    </form>

                    <div th:if="${message!=null}">
                        <p/>
                        <span th:text="${message}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout :: site-footer" />

</body>

</html>